[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/bg-sessions"]
	path = bundle/bg-sessions
	url = https://github.com/bgrohman/vim-bg-sessions.git
[submodule "bundle/signature"]
	path = bundle/signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "bundle/vim-bg-tables"]
	path = bundle/vim-bg-tables
	url = https://github.com/bgrohman/vim-bg-tables.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/nord-vim"]
	path = bundle/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "bundle/ayu-vim"]
	path = bundle/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim.git
[submodule "bundle/palenight"]
	path = bundle/palenight
	url = https://github.com/drewtempelmeyer/palenight.vim.git
