[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/bg-sessions"]
	path = bundle/bg-sessions
	url = https://github.com/bgrohman/vim-bg-sessions.git
[submodule "bundle/signature"]
	path = bundle/signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ferret"]
	path = bundle/ferret
	url = https://github.com/wincent/ferret.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/nginx-vim-syntax"]
	path = bundle/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "bundle/vim-bg-tables"]
	path = bundle/vim-bg-tables
	url = git@github.com:bgrohman/vim-bg-tables.git
[submodule "bundle/bg-tables"]
	path = bundle/bg-tables
	url = git@github.com:bgrohman/vim-bg-tables.git
